{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block content %}
<main>
    <div class="container main-container">
        <div class="main-left">
            <a href="{% url 'create-post-help' %}" >Create Proposition</a>
        </div>

        <div class="main-mid">
            <div class="feeds">
                <div class="feed">
                    <form class="creatPost createpost_form" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
                        <div class="text-post">
                            {% csrf_token %}
                            {{ form | crispy }}
                        </div>
                        <div>
                            <button value="post" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}