{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container main-container">

        <div class="main-left">
			<div class="profile" style="display: flex; align-items: center; justify-content: center;">
				<a href="{% url 'post-list' %}" class="btn btn-primary">back</a>
			</div>
            <!--.... SIDEBAR .....-->
            <div class="side-bar">
                <a href="{% url 'post-list' %}" class="menu-item">
                    <span><img src="{% static 'images/svg/house-door.svg'%}" class="icon1" alt=""></span><h3>home</h3>
                </a>
                <a href="#" id="themeMenu" class="menu-item">
                    <span><img src="{% static 'images/svg/palette.svg' %}" class="icon1" alt=""></span><h3>theme</h3>
                </a>
            </div>
		</div>

        <div class="main-mid">
            
            <div class="feeds">
                <div class="feed">
                    <div style="display: flex; flex-direction: column; gap: 1rem;">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            
                                <img src="{{ profile.picture.url }}" style="border-radius: 50%; width: 100px; height: 100px; margin-left: 1rem;"/>
                                <div style="display:flex; align-items:center; justify-content: space-evenly; margin-right:5rem; gap: 2rem;" >
                                    <div style="display: flex; flex-direction: column; align-items:center;">
                                        <p class="my-0 fw-bold">{{ number_of_posts }}</p>
                                        <p class="my-0">publications</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items:center;">
                                        <a href="{% url 'list-followers' profile.pk %}"style="text-decoration: none; color: var(--color-primary); font-weight:bold;">{{ number_of_followers }}</a>
                                        <a href="{% url 'list-followers' profile.pk %}"style="text-decoration: none; color: var(--color-primary);" >followers</a>
                                    </div>
                                </div>
                                
                        </div>
                        <div class="profile-information">
                            <p class="location-text profile-name">
                                {% if profile.name %}
                                    {{ profile.name }} - {{ user }}
                                {% else %}
                                    {{ user }}
                                {% endif %}
                                {% if profile.location %}
                                    <br/>{{ profile.location }}
                                {% endif %}
                                {% if profile.birth_date %}
                                    <br/><span>{{ profile.birth_date }}<span></p>
                                {% endif %}
                            </p>
                            {% if profile.bio %}
                                {{ profile.bio|safe }}
                            {% endif %}
                            <span class="mb-3">
                                {% if request.user == user%}
                                    <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-light profile-buttons">
                                        Modifier le Profile
                                    </a>
                                {% else %}
                                    {% if cofollowers %}
                                    <div><p>Suivi(e) par
                                        {% for cofollower in cofollowers %}
                                            <a class="profile-link" href="{% url 'profile' cofollower.profile.pk %}">{{cofollower.username}}</a>
                                        {%endfor%} 
                                        </p>
                                    </div>
                                    {%endif%}
    
                                    <div>
                                        {% if is_following %}
                                            <form method="post" action="{% url 'remove-follower' profile.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-light profile-buttons" type="submit" >Unfollow</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{% url 'send-friend-request' profile.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-light profile-buttons" type="sumbit">Send Friend Request</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                {% endif %}     
                            </span>
                        </div>
                    </div>
                </div>

                {% if posts.all.count == 0 %}
                {% else %}
                {% for post in posts %}
                <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photos">
                                    <a style="text-decoration: none;" href="{% url 'profile' post.author.pk %}"><img src="{{ post.author.profile.picture.url }}" alt=""></a>
                                </div>
                                <div class="info">
                                    <a style="text-decoration: none;" class="profile-link" href="{% url 'profile' post.author.pk %}"><h3>{{ post.author }}</h3></a> 
                                    <small>{{post.created_on}}</small>
                                </div>
                            </div>
                            <span class="edit">
                                <a href="{% url 'post-detail' post.pk %}"><img class="icon2" src="{% static 'images/svg/three-dots.svg' %}" alt=""></a>
                            </span>
                        </div>
                        <div class="feed-photos">
                            {% if post.image %}
                                <img src="{{ post.image.url }}"/>
                            {% endif %}
                        </div>
                        <div class="body">
                            <p>{{ post.body|safe }}</p>
                        </div>
                        <div class="action-buttons">
                            <div class="inter-action-button">
                                <form style="display: flex;" method="POST" action="{% url 'like' post.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button style='background: transparent;' class="remove-default-btn" type="submit">
                                        <span><img src="{% static 'images/svg/heart.svg'%}" alt="" class="icon2"></span>
                                    </button>
                                </form>
                                            
                                <a href="{% url 'post-detail' post.pk %}"><span><img src="{% static 'images/svg/chat-dots.svg'%}" alt="" class="icon2"></span></a>
                                <span><img src="{% static 'images/svg/share.svg'%}" alt="" class="icon2"></span>
                            </div>
                            <div class="book-mark">
                                <span><img src="{% static 'images/svg/bookmark.svg' %}" alt="" class="icon2"></span>
                            </div>
                        </div>
                        <div class="liked-by">
                            {% if post.title%}
                            <span><img src="{{user.profile.picture.url}}" alt=""></span>
                            <p>{{post.title}}</p>
                            {%endif%}
                        </div>
                        <div class="caption">
                            <p>{{post.likes.all.count}} likes</p>
                            <a href="{% url 'post-detail' post.pk %}"><div class="text-gry comment">view all comments</div></a>
                        </div>
                </div>
                {% endfor %}
                {%endif%}
            </div>
        </div>
    </div>
</main>
<div class="theme">
    <div class="card">
        <h2>CUSTOMIZE your site</h2>
        <p class="text-gry">set you font, color, and background</p>

        <!-- FONT SIZE -->
        <div class="font-size">
            <form action="">
                <h6>aa</h6>
                    <fieldset class="chose-font-size">
                        <label for="small" class="visually-hidden">small</label>
                        <input class="font1" type="radio" name="sizetheme" id="small">
                        <label for="medium-small" class="visually-hidden">medium small</label>
                        <input class="font2 active" type="radio" name="sizetheme" id="medium-small">
                        <label for="normal" class="visually-hidden">normal</label>
                        <input class="font3" type="radio" name="sizetheme" id="normal">
                        <label for="medium-tall" class="visually-hidden">medium tall</label>
                        <input class="font4" type="radio" name="sizetheme" id="medium-tall">
                        <label for="tall" class="visually-hidden">tall</label>
                        <input class="font5" type="radio" name="sizetheme" id="tall">
                    </fieldset>
                <h3>aa</h3>
            </form>
        </div>


        <!-- COLOR -->
        <div class="color">
            <form action="">
                <h3>color</h3>
                <fieldset class="chose-color">
                    <label for="color1" class="visually-hidden"></label>
                    <input class="color1" id="color1" name="colortheme" type="radio">
                    <label for="color2" class="visually-hidden"></label>
                    <input class="color2" id="color2" name="colortheme" type="radio">
                    <label for="color3" class="visually-hidden"></label>
                    <input class="color3" id="color3" name="colortheme" type="radio">
                    <label for="color4"class="visually-hidden"></label>
                    <input class="color4" id="color4" name="colortheme" type="radio">
                </fieldset>
            </form>
        </div>

        <!-- BACKGROUND -->
        <div class="background">
            <form action="">
                <h3>background</h3>
                <fieldset class="chose-background">
                    <input id="bg1" type="radio" name="bgtheme" class="bg1">
                    <input id="bg3" type="radio" name="bgtheme" class="bg3">
                </fieldset>
            </form>
        </div> 

    </div>
</div>
<script type="text/javascript" src="{% static 'js/script_1.js' %}"></script>

{% endblock content %}